<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | 404 Page not found</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <script type="application/javascript" src="../../../js/common.js"></script>
  <script type="application/javascript" src="../../js/devicePayConfig/toConfig.js"></script>
  <style type="text/css">
  .ztree li span.button.root_open{
 	 background-position: -105px -63px;
  }
   .ztree li span.button.root_close{
 	 background-position: -126px -63px;
  }
  </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<section class="content">
        <p id="merchanttree" class="ztree" ></p>
    </section>
     <button class="btn btn-sm btn-primary" id="distribution">确定</button>
</body>
</html>
