<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | 404 Page not found</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <script type="application/javascript" src="../../../js/common.js"></script>
  <script type="application/javascript" src="../../js/alipay/alipayList.js"></script>

</head>
<body class="hold-transition skin-blue sidebar-mini">


  <div class="panel-body" style="padding: 8px;">
    <div class="panel panel-default fandcss">
      <!--             <div class="panel-heading">查询条件</div> -->
      <div class="panel-body">
        <form id="formSearch" class="form-horizontal">
          <div class="form-group" style="margin: 0px">
            <label class="control-label col-sm-1" for="txt_name">配置名称</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="txt_name">
            </div>
            <label class="control-label col-sm-1" for="txt_tel">appid</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="txt_tel">
            </div>
            <div class="col-sm-1">
              <button type="button" style="height: 35px; line-height: 5px;"
                      id="btn_query" class="btn btn-primary ">查询</button>
            </div>


            <div class="col-sm-1">
              <button type="button" style="height: 35px; line-height: 5px;" class="btn btn-primary " onclick="addWechat();">添加</button>
            </div>

            <!-- 							<div class="col-sm-1"> -->
            <!-- 								<a href="/cpDate">合并数据</a> -->
            <!-- 							</div> -->
            <!-- 							<div class="col-sm-1"> -->
            <!-- 								<a href="/checkDate">对比数据</a> -->
            <!-- 							</div> -->

          </div>
        </form>
      </div>
    </div>


  </div>






</body>
</html>
